<form>
  
  <div class="grid">
    <div class="col-12 md:col-6 button-container flex-container">
      <div class="flex-container-start">
        <button pButton type="button" *ngIf="authService.isMinistry()"
                label="{{'global.save' | translate}}" class="p-button-success"
                icon="fa fa-save" iconPos="left" (click)="saveClassification()">
        </button>
        
        <button pButton type="button" *ngIf="id && authService.isMinistry()"
                label="{{'global.newRecord' | translate}}" class="p-button-info"
                icon="fa fa-plus" iconPos="left" (click)="newRecord()">
        </button>
        <button pButton type="button"
                label="{{'global.index' | translate}}" class="p-button-help"
                icon="fa fa-table" iconPos="left" (click)="goToList()">
        </button>
      </div>
      <div class="flex-container-end">
        <app-field-revisions *ngIf="id" [entityClass]="'inm.core.domain.Classification'" [entityId]="id"></app-field-revisions>
      </div>
    </div>
  </div>
  
  <!-- Στοιχεία Κατάταξης -->
  <div class="grid" appToitsuLockControls [lockCondition]="!authService.isMinistry()">
    
    <div class="col-12 xl:col-6 p-fluid">
      
      <p-panel header="{{'classification.view.classificationData' | translate}}">
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isActive' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox binary="true" [(ngModel)]="classification.isActive" name="isActive"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'classification.description' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="classification.description" name="description">
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isClosingRecord' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isClosingRecord" name="isClosingRecord"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isCrime' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isCrime" name="isCrime"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isTransfer' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isTransfer" name="isTransfer"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isClosingFolder' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isClosingFolder" name="isClosingFolder"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isDeath' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isDeath" name="isDeath"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isEscape' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isEscape" name="isEscape"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.isRelease' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="classification.isRelease" name="isRelease"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'classification.elstatCode' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="classification.elstatCode" name="elstatCode">
          </div>
        </div>
      
      </p-panel>
    
    </div>
  
  </div>

</form>
