<!--  ΕΝΟΤΗΤΑ ΣΥΝΔΕΔΕΜΕΝΕΣ ΑΝΑΦΟΡΕΣ ΠΕΙΘΑΡΧΙΚΟΥ-->

<div>
  <div class="col-12 p-fluid padding-bottom-10">
    
    <p-table [value]="relatedDisciplineReportsOfDisciplineOffense" [scrollable]="true" scrollHeight="25rem" styleClass="p-datatable-gridlines p-datatable-striped" appToitsuPTableCellWidth>
      
      <ng-template pTemplate="header">
        
        <tr>
          <th [style.width]="'3rem'" [style.justify-content]="'center'">{{'#'}}</th>
          <th [style.width]="'10rem'" [style.justify-content]="'center'">{{'disciplineReport.reportNo' | translate}}</th>
          <th [style.width]="'10rem'" [style.justify-content]="'center'">{{'disciplineReport.reportDate' | translate}}</th>
          <th [style.width]="'3rem'" [style.justify-content]="'center'"></th>
        </tr>
      
      </ng-template>
      <ng-template pTemplate="body" let-disciplineReport let-index="rowIndex" >
        
          <tr >
          <td [style.justify-content]="'center'">{{index + 1}}</td>
          <td [style.justify-content]="'center'">{{disciplineReport.reportNo}}</td>
          <td [style.justify-content]="'center'">{{disciplineReport.reportDate}}</td>
          <td [style.justify-content]="'center'"><a href="{{viewLink}}/{{disciplineReport.id}}" target="_blank"><i class="fa fa-external-link" pTooltip="{{'disciplineOffense.view.openRelatedDisciplineReport' | translate}}"></i></a></td>
        </tr>

</ng-template>

</p-table>

</div>
</div>

<div class="grid">
  <div class="col-12 button-container text-align-end">
    <button pButton type="button" label="{{'global.close' | translate}}" class="p-button-warning"
            icon="fa fa-times" iconPos="left" (click)="close()">
    </button>
  </div>
</div>

<!--  ΕΝΟΤΗΤΑ ΣΥΝΔΕΔΕΜΕΝΕΣ ΑΝΑΦΟΡΕΣ ΠΕΙΘΑΡΧΙΚΟΥ-->
