<form>
  
  <div class="grid">
    <div class="col-12 md:col-6 button-container flex-container">
      <div class="flex-container-start">
        <button pButton type="button" *ngIf="!lockedRecord()"
                label="{{'global.save' | translate}}" class="p-button-success"
                icon="fa fa-save" iconPos="left" (click)="saveProgramType()">
        </button>
        <button pButton type="button" *ngIf="id && !lockedRecord()"
                label="{{'global.delete' | translate}}" class="p-button-danger"
                icon="fa fa-trash" iconPos="left" (click)="deleteProgramType()">
        </button>
       
        <button pButton type="button" *ngIf="id" label="{{'global.newRecord' | translate}}" class="p-button-info"
                icon="fa fa-plus" iconPos="left" (click)="newRecord()">
        </button>
        <button pButton type="button" label="{{'global.index' | translate}}" class="p-button-help"
                icon="fa fa-table" iconPos="left" (click)="goToList()">
        </button>
      </div>
      <app-other-dc-name [dcId]="programType.dcId"></app-other-dc-name>
      <div class="flex-container-end">
        <app-field-revisions *ngIf="id" [entityClass]="'inm.core.domain.ProgramType'" [entityId]="id"></app-field-revisions>
      </div>
    </div>
  </div>
  
  <div class="grid" appToitsuLockControls [lockCondition]="lockedRecord()">
    
    <div class="col-12 md:col-6 p-fluid">
      
      <p-panel header="{{'programType.view.data' | translate}}">
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'programType.kind' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-dropdown  [(ngModel)]="programType.kind" name="kind"  [options]="kinds" optionValue="value" optionLabel="label"
                         [disabled]="!!id"
                        placeholder="{{'global.selectOption' | translate}}" [showClear]="true" (ngModelChange)="kindChanged()">
            </p-dropdown>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'programType.categoryPid' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-gen-parameter [type]="pDisplayedCategories" [(model)]="programType.categoryPid"></app-select-gen-parameter>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'programType.description' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="programType.description" name="description" appToitsuTextareaAutoResize></textarea>
          </div>
        </div>
  
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'courthouse.isActive' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox [(ngModel)]="programType.isActive" name="isActive" [binary]="true"></p-checkbox>
          </div>
        </div>
      
      </p-panel>
      
    </div>
    
  </div>

</form>
