<form>
  <div class="grid">
    <div class="col-12 button-container">
      <button pButton type="button"
              label="{{'global.save' | translate}}" class="p-button-success"
              icon="fa fa-save" iconPos="left" (click)="saveDisease()">
      </button>
      <button pButton type="button" *ngIf="id"
              label="{{'global.delete' | translate}}" class="p-button-danger"
              icon="fa fa-trash" iconPos="left" (click)="deleteDisease()">
      </button>
      <button pButton type="button" *ngIf="id" label="{{'global.newRecord' | translate}}" class="p-button-info"
              icon="fa fa-plus" iconPos="left" (click)="newRecord()">
      </button>
      <app-documents [entity]="'DISEASE'" [entityId]="id" [inmateId]="disease.inmateId"></app-documents>
      <button pButton type="button" label="{{'global.index' | translate}}" class="p-button-help"
              icon="fa fa-table" iconPos="left" (click)="goToList()">
      </button>
      <app-other-dc-name [dcId]="disease.dcId"></app-other-dc-name>
    </div>
  </div>
  <div class="grid" appToitsuLockControls [lockCondition]="lockedRecord()">
    
    <div class="col-12 md:col-6 p-fluid">
      
      <p-panel header="{{'disease.details' | translate}}">
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'disease.inmateId' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-inmate [(model)]="disease.inmateId" [loadOnOpen]="true" [dialogUrl]="inmateDialogUrl" name="inmateId"></app-select-inmate>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'disease.view.diseaseTypeCategoryPid' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-gen-parameter [type]="pDiseaseTypeCategory" [(model)]="diseaseTypeCategoryId" (modelChange)="categoryChanged()" name="diseaseTypeCategoryId"></app-select-gen-parameter>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'disease.diseaseTypeIdDescription' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-dropdown [(ngModel)]="disease.diseaseTypeId"  name="diseaseTypeId"
                        [options]="diseaseTypes" optionValue="id" optionLabel="description"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [filter]="true" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'disease.diagnosisDate' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-toitsu-calendar [(model)]="disease.diagnosisDate" name="diagnosisDate"></app-toitsu-calendar>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'disease.isChronic' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="disease.isChronic" name="isChronic"></p-checkbox>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'disease.progression' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="disease.progression" name="progression">
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'disease.symptoms' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="disease.symptoms" name="symptoms" rows="5"></textarea>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

</form>
