<form>
  
  <div class="grid">
    <div class="col-12 md:col-6 button-container flex-container">
      <div class="flex-container-start">
        <button pButton type="button" *ngIf="!lockedRecord()"
                label="{{'global.save' | translate}}" class="p-button-success"
                icon="fa fa-save" iconPos="left" (click)="saveHearingApplication()">
        </button>
        <button pButton type="button" *ngIf="id && !lockedRecord()"
                label="{{'global.delete' | translate}}" class="p-button-danger"
                icon="fa fa-trash" iconPos="left" (click)="deleteHearingApplication()">
        </button>
        <button pButton type="button" label="{{'global.newRecord' | translate}}" class="p-button-info" *ngIf="id"
                icon="fa fa-plus" iconPos="left" (click)="newRecord()">
        </button>
        <button pButton type="button" label="{{'global.index' | translate}}" class="p-button-help"
                icon="fa fa-table" iconPos="left" (click)="goToList()">
        </button>
        <app-other-dc-name [dcId]="hearingApplication.dcId"></app-other-dc-name>
      </div>
      <div class="flex-container-end">
        <app-field-revisions *ngIf="id" [entityClass]="'med.core.domain.HearingApplication'" [entityId]="id"></app-field-revisions>
        <app-documents [entity]="'HEARING_APPLICATION'" [entityId]="id" [inmateId]="hearingApplication.inmateId"></app-documents>
      </div>
    </div>
  </div>
  
  <div class="grid" appToitsuLockControls [lockCondition]="lockedRecord()">
    
    <div class="col-12 md:col-6 p-fluid">
      
      <p-panel header="{{'hearingApplication.view.data' | translate}}">
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'hearingApplication.inmateId' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-inmate [(model)]="hearingApplication.inmateId" [dialogUrl]="inmatesUrl" [loadOnOpen]="true" name="inmateId"></app-select-inmate>
          </div>
        </div>
        
        <div class="grid align-items-center" *ngIf="id">
          <label class="col-12 sm:col-4 font-bold ">{{'hearingApplication.serialNumber' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-inputNumber [(ngModel)]="hearingApplication.serialNumber" name="serialNumber" [useGrouping]="false" [disabled]="!!id"></p-inputNumber>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'hearingApplication.applicationDate' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-toitsu-calendar [(model)]="hearingApplication.applicationDate" name="applicationDate"></app-toitsu-calendar>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'hearingApplication.receiverPid' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-gen-parameter [type]="pReceivers" [(model)]="hearingApplication.receiverPid"></app-select-gen-parameter>
          </div>
        </div>
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'hearingApplication.hearingTypeId' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-dropdown [(ngModel)]="hearingApplication.hearingTypeId" [options]="hearingTypes" name="hearingTypeId"
                        optionValue="id" optionLabel="description"
                        placeholder="{{'global.selectOption' | translate}}"
                        emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                        [showClear]="true" [filter]="true">
            </p-dropdown>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'hearingApplication.emergency' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox [(ngModel)]="hearingApplication.emergency" name="emergency" [binary]="true"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'hearingApplication.comments' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="hearingApplication.comments" name="comments" rows="8"></textarea>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'hearingApplication.absence' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox [(ngModel)]="hearingApplication.absence" name="absence" [binary]="true"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center" *ngIf="hearingApplication.absence">
          <label class="col-12 sm:col-4">{{'hearingApplication.absenceDate' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-toitsu-calendar [(model)]="hearingApplication.absenceDate" name="absenceDate"></app-toitsu-calendar>
          </div>
        </div>
        
        <div class="grid align-items-center" *ngIf="hearingApplication.absence">
          <label class="col-12 sm:col-4">{{'hearingApplication.absenceComments' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="hearingApplication.absenceComments" name="absenceComments" rows="8"></textarea>
          </div>
        </div>
      
      </p-panel>
    
    </div>
  
  </div>

</form>
