<div class="grid">
  <div class="col-12">
    <p-tabView>
      
      <!-- Ευρετηήριο Προτύπων -->
      <p-tabPanel header="{{'template.view.tab.templateList' | translate}}">
        
        <div class="grid">
          <div class="col-12 button-container">
            <button pButton type="submit" label="{{'global.search' | translate}}" class="p-button-warning"
                    icon="fa fa-search" iconPos="left" (click)="loadTableData()">
            </button>
            <button pButton type="button" label="{{'global.clearArgs' | translate}}" class="p-button-help"
                    icon="fa fa-times" iconPos="left" (click)="clearArgs()">
            </button>
          </div>
        </div>
        
        <div class="grid">
          <div class="col-12 md:col-3">
            <p-panel header="{{'global.args' | translate}}" (keyup.enter)="loadTableData()">
              
              <div class="p-fluid">
                
                <div class="grid align-items-center">
                  <div class="col-12">
                    <label>{{'template.title' | translate}}</label>
                    <input type="text" pInputText [(ngModel)]="args.title">
                  </div>
                </div>
              
              </div>
            
            
            </p-panel>
          
          </div>
          
          <div class="col-12 md:col-9">
            <app-toitsu-table #table
                              [url]="url"
                              [cols]="cols"
                              [sortField]="sortField"
                              [sortOrder]="sortOrder"
                              [args]="args"
                              [loadOnInit]="false"
                              (rowDblClicked)="rowDblClicked($event)"
                              (rowSelected)="rowSelected($event)"
                              (rowUnselected)="rowUnselected($event)">
            </app-toitsu-table>
          </div>
        </div>
        
        <div class="grid">
          <div class="col-12 button-container text-align-end">
            
            <button pButton type="button" label="{{'global.confirm' | translate}}" class="p-button-info"
                    icon="fa fa-check" iconPos="left" (click)="confirm()">
            </button>
            <button pButton type="button" label="{{'global.cancel' | translate}}" class="p-button-warning"
                    icon="fa fa-times" iconPos="left" (click)="cancel()">
            </button>
          </div>
        </div>
      
      </p-tabPanel>
      
      <!-- Αποθηκευμένες Εκτυπώσεις -->
      <p-tabPanel header="{{'report.view.tab.savedReports' | translate}}" *ngIf="!hideTab">
        
        <div class="grid">
          <div class="col-12">
            <button pButton type="submit" label="{{'global.load' | translate}}" class="p-button-info"
                    icon="pi pi-undo" iconPos="left" (click)="loadReportTableData()">
            </button>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <app-toitsu-table #reportTable
                              [url]="reportUrl"
                              [cols]="reportCols"
                              [sortField]="reportSortField"
                              [sortOrder]="reportSortOrder"
                              [args]="reportArgs"
                              [viewLink]="reportViewLink"
                              [loadOnInit]="false"
                              (rowDblClicked)="reportRowDblClicked($event)"
                              (rowSelected)="reportRowSelected($event)"
                              (rowUnselected)="reportRowUnselected($event)">
            </app-toitsu-table>
          </div>
        </div>
        
        <div class="grid">
          <div class="col-12 button-container text-align-end">
            <button pButton type="button" label="{{'global.confirm' | translate}}" class="p-button-info"
                    icon="fa fa-check" iconPos="left" (click)="reportConfirm()">
            </button>
            <button pButton type="button" label="{{'global.cancel' | translate}}" class="p-button-warning"
                    icon="fa fa-times" iconPos="left" (click)="reportCancel()">
            </button>
          </div>
        </div>
      
      </p-tabPanel>
    
    </p-tabView>
  </div>
</div>
