<div class="grid">
  <div class="col-12 button-container">
    <button pButton type="submit" label="{{'global.search' | translate}}" class="p-button-warning"
            icon="fa fa-search" iconPos="left" (click)="loadTableData()">
    </button>
    <button pButton type="button" label="{{'global.clearArgs' | translate}}" class="p-button-help"
            icon="fa fa-times" iconPos="left" (click)="clearArgs()">
    </button>
    <button pButton type="button" label="{{'global.newRecord' | translate}}" class="p-button-info"
            icon="fa fa-plus" iconPos="left" (click)="newRecord()">
    </button>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-3">
    
    <p-panel header="{{'global.args' | translate}}">
      
      <div class="p-fluid">
  
        <app-record-dc-origin [(dcId)]="args.dcId"></app-record-dc-origin>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'doctor.specialtyPid' | translate}}</label>
            <app-select-gen-parameter [type]="pSpecialty" [(model)]="args.specialty" name="specialty" [hideAdd]="true"></app-select-gen-parameter>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'doctor.doctorType' | translate}}</label>
            <p-dropdown [(ngModel)]="args.doctorType" [options]="doctorTypes"
                        name="doctorType"
                        optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}"
                        emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                        [filter]="true" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'doctor.isActive' | translate}}</label>
            <p-dropdown [(ngModel)]="args.isActive" [options]="yesNoEnums" 
                        name="isActive"
                        optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}"
                        emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                        [showClear]="true" [filter]="true">
            </p-dropdown>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'doctor.isExpert' | translate}}</label>
            <p-dropdown [(ngModel)]="args.isExpert" [options]="yesNoEnums" 
                        name="isExpert"
                        optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}"
                        emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                        [showClear]="true" [filter]="true">
            </p-dropdown>
          </div>
        </div>
      
      </div>
    
    </p-panel>
  </div>
  
  <div class="col-12 md:col-9">
    <app-toitsu-table #table
                      [url]="url"
                      [cols]="cols"
                      [first]="paging.first"
                      [rows]="paging.rows"
                      [sortField]="paging.sortField"
                      [sortOrder]="paging.sortOrder"
                      [args]="args"
                      [viewLink]="viewLink"
                      [excel]="true"
                      [exportModel]="exportModel"
                      [loadOnInit]="false"
                      (loadComplete)="loadComplete()">
    </app-toitsu-table>
  </div>
</div>
