<form>
  
  <div class="grid" appToitsuLockControls [lockCondition]="lockedForm()">
    
    <div class="col-12 p-fluid">
      <p-panel header="{{'programApplication.view.data' | translate}}">
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'programApplication.withdrawal' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox [(ngModel)]="programApplicationTemp.withdrawal" name="withdrawal" [binary]="true"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'programApplication.withdrawalReasonPid' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-gen-parameter [type]="pWithdrawalReasons" [(model)]="programApplicationTemp.withdrawalReasonPid"></app-select-gen-parameter>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'programApplication.withdrawalDate' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-toitsu-calendar [(model)]="programApplicationTemp.endDate" name="endDate" ></app-toitsu-calendar>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'programApplication.withdrawalComments' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="programApplicationTemp.withdrawalComments" name="withdrawalComments" rows="8"></textarea>
          </div>
        </div>
      
      </p-panel>
    
    </div>
  
  </div>

</form>

<div class="grid">
  <div class="col-12 button-container text-align-center">
    <button pButton type="button" label="{{'global.confirm' | translate}}" class="p-button-success"
            icon="fa fa-check" iconPos="left" (click)="confirm()" *ngIf="!lockedForm()">
    </button>
    <button pButton type="button" label="{{'global.cancel' | translate}}" class="p-button-warning"
            icon="fa fa-times" iconPos="left" (click)="cancel()">
    </button>
  </div>
</div>
