<div class="grid">
  <div class="col-12 button-container">
    <button pButton type="submit" label="{{'global.search' | translate}}" class="p-button-warning"
            icon="fa fa-search" iconPos="left" (click)="loadTableData()">
    </button>
    <button pButton type="button" label="{{'global.clearArgs' | translate}}" class="p-button-help"
            icon="fa fa-times" iconPos="left" (click)="clearArgs()">
    </button>
    <button pButton type="button" label="{{'global.newRecord' | translate}}" class="p-button-info"
            icon="fa fa-plus" iconPos="left" (click)="newRecord()">
    </button>
    <button pButton type="button" label="{{'inm.gateMovement.massCreate' | translate}}" class="p-button-info"
            icon="fa fa-plus" iconPos="left" (click)="massCreate()">
    </button>
    <button pButton type="button" label="{{'inm.gateMovement.massClose' | translate}}" class="p-button-info"
            icon="fa fa-plus" iconPos="left" (click)="massClose()">
    </button>
  </div>
</div>

<div class="grid">
  
  <div class="col-12 md:col-3">
    
    <p-panel header="{{'global.args' | translate}}">
      
      <div class="p-fluid">
  
        <app-record-dc-origin [(dcId)]="args.dcId"></app-record-dc-origin>
          
        <div class="grid align-items-center">
          <div class="col-12 no-padding-bottom">
            <label>{{'gateMovement.movementDate' | translate}}</label>
            <div class="grid field-group">
              <app-toitsu-calendar class="col-6" [(model)]="args.fromDate" [noIcon]="true" [showTime]="true"></app-toitsu-calendar>
              <span><i class="fa fa-arrow-right no-padding no-margin"></i></span>
              <app-toitsu-calendar class="col-6" [(model)]="args.toDate" [noIcon]="true" [showTime]="true"></app-toitsu-calendar>
            </div>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.inOutKind' | translate}}</label>
            <p-dropdown [(ngModel)]="args.inOutKind" [options]="inOutKinds" optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.movementStatus' | translate}}</label>
            <p-dropdown [(ngModel)]="args.gateMovementStatus" [options]="gateMovementsStatus" optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>

        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.movementKind' | translate}}</label>
            <p-dropdown [(ngModel)]="args.movementKind" [options]="movementKinds" optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true" >
            </p-dropdown>
          </div>
        </div>

        <div class="grid align-items-center">
          <div class="col-12">
          <label>{{'gateMovement.reasonForInmateMovement' | translate}}</label>
            <p-dropdown [(ngModel)]="args.reasonForInmateMovementKind" [options]="reasonForInmateMovementKinds" optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>

        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.inmateId' | translate}}</label>
            <app-select-inmate [(model)]="args.inmateId" [loadOnOpen]="true" [dialogUrl]="inmateDialogUrl" name="inmateId"></app-select-inmate>
          </div>
        </div>
          
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.visitor' | translate}}</label>
            <app-select-visitor [(model)]="args.visitorId" name="visitorId"></app-select-visitor>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.vehicleDriverVisitorId' | translate}}</label>
            <app-select-visitor [(model)]="args.vehicleDriverVisitorId" name="vehicleDriverVisitorId"></app-select-visitor>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.employeeId' | translate}}</label>
            <p-inputNumber [(ngModel)]="args.employeeId" name="employeeId" [useGrouping]="false"></p-inputNumber>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.transferTypeId' | translate}}</label>
            <p-dropdown [(ngModel)]="args.transferTypeId" name="transferTypeId" [options]="transferTypes" optionValue="id" optionLabel="description"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>

        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.vacationTypeId' | translate}}</label>
            <p-dropdown [(ngModel)]="args.vacationTypeKind" name="vacationTypeKind" [options]="vacationTypes" optionValue="value" optionLabel="label"
                        placeholder="{{'global.selectOption' | translate}}" emptyMessage="{{'global.noResultsFound' | translate}}"
                        emptyFilterMessage="{{'global.noResultsFound' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'gateMovement.serialNo' | translate}}</label>
            <p-inputNumber [(ngModel)]="args.serialNo" name="serialNo" [min]="0" [useGrouping]="false"></p-inputNumber>
          </div>
        </div>
        
      </div>
    
    </p-panel>
  </div>
  
  <div class="col-12 md:col-9">
    
    <app-toitsu-table #table
                      [url]="url"
                      [cols]="cols"
                      [first]="paging.first"
                      [rows]="paging.rows"
                      [sortField]="paging.sortField"
                      [sortOrder]="paging.sortOrder"
                      [args]="args"
                      [viewLink]="viewLink"
                      [excel]="true"
                      [exportModel]="exportModel"
                      [loadOnInit]="false"
                      (loadComplete)="loadComplete()"
                      (rowClicked)="rowClicked($event)">
    </app-toitsu-table>
  </div>
</div>
