<form>

  <div class="grid">
    <div class="col-12 md:col-6 button-container flex-container">
      <div class="flex-container-start">
      <button pButton type="button" *ngIf="authService.isMinistry()"
              label="{{'global.save' | translate}}" class="p-button-success"
              icon="fa fa-save" iconPos="left" (click)="savePoliceDepartment()">
      </button>
      <button pButton type="button" *ngIf="id && authService.isMinistry()"
              label="{{'global.newRecord' | translate}}" class="p-button-info"
              icon="fa fa-plus" iconPos="left" (click)="newRecord()">
      </button>
      <button pButton type="button"
              label="{{'global.index' | translate}}" class="p-button-help"
              icon="fa fa-table" iconPos="left" (click)="goToList()">
      </button>
      </div>
      <div class="flex-container-end">
        <app-field-revisions *ngIf="id" [entityClass]="'inm.core.domain.PoliceDepartment'" [entityId]="id"></app-field-revisions>
      </div>
    </div>
  </div>
  
  <!-- Στοιχεία Αστυνομικού Τμήματος -->
  <div class="grid" appToitsuLockControls [lockCondition]="!authService.isMinistry()">
    
    <div class="col-12 xl:col-6 p-fluid">
      
      <p-panel header="{{'policeDepartment.view.policeDepartmentData' | translate}}">
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.isActive' | translate}}</label>
          <div class="col-12 md:col-2">
            <p-checkbox binary="true" [(ngModel)]="policeDepartment.isActive" name="isActive"></p-checkbox>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'policeDepartment.typePid' | translate}}</label>
          <div class="col-12 sm:col-8">
            <app-select-gen-parameter [type]="pPoliceDepartmentType" [(model)]="policeDepartment.typePid" name="typePid"></app-select-gen-parameter>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'policeDepartment.name' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.name" name="name">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.city' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.city" name="city">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.address' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.address" name="address">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.telephone' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.telephone" name="telephone">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.telephone2' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.telephone2" name="telephone2">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.fax1' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.fax1" name="fax1">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'policeDepartment.fax2' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="policeDepartment.fax2" name="fax2">
          </div>
        </div>
      
      </p-panel>
      
    </div>
  
  </div>
  
</form>
