<form>
  <div class="grid">
    <div class="col-12 button-container">
      <button pButton type="button"
              label="{{'global.save' | translate}}" class="p-button-success"
              icon="fa fa-save" iconPos="left" (click)="saveShift()">
      </button>
      <button pButton type="button" *ngIf="id"
              label="{{'global.delete' | translate}}" class="p-button-danger"
              icon="fa fa-trash" iconPos="left" (click)="deleteShift()">
      </button>
      <button pButton type="button" *ngIf="id" label="{{'global.newRecord' | translate}}" class="p-button-info"
              icon="fa fa-plus" iconPos="left" (click)="newRecord()">
      </button>
      <button pButton type="button" label="{{'global.index' | translate}}" class="p-button-help"
              icon="fa fa-table" iconPos="left" (click)="goToList()">
      </button>
    </div>
  </div>
  <div class="grid">
    
    <div class="col-12 md:col-6 p-fluid">
      
      <p-panel header="{{'shift.details' | translate}}">
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.isActive' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.isActive" name="isActive"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'shift.view.name1' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input pInputText [(ngModel)]="shift.name1" name="name1">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.view.used1' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.used1" name="used1"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'shift.view.name2' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input pInputText [(ngModel)]="shift.name2" name="name2">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.view.used2' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.used2" name="used2"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'shift.view.name3' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input pInputText [(ngModel)]="shift.name3" name="name3">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.view.used3' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.used3" name="used3"></p-checkbox>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'shift.view.name4' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input pInputText [(ngModel)]="shift.name4" name="name4">
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.view.used4' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.used4" name="used4"></p-checkbox>
          </div>
        </div>
  
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'shift.view.name5' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input pInputText [(ngModel)]="shift.name5" name="name5">
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{ 'shift.view.used5' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-checkbox binary="true" [(ngModel)]="shift.used5" name="used5"></p-checkbox>
          </div>
        </div>
        
      </p-panel>
    </div>
  </div>

</form>
