<form>
  
  <div class="grid">
    <div class="col-12 md:col-6 button-container flex-container">
      <div class="flex-container-start">
        <button pButton type="button" *ngIf="!lockedRecord()"
                label="{{'global.save' | translate}}" class="p-button-success"
                icon="fa fa-save" iconPos="left" (click)="saveSessionType()">
        </button>
        <button pButton type="button" *ngIf="id && !lockedRecord()"
                label="{{'global.delete' | translate}}" class="p-button-danger"
                icon="fa fa-trash" iconPos="left" (click)="deleteSessionType()">
        </button>
        
        <button pButton type="button" *ngIf="id" label="{{'global.newRecord' | translate}}" class="p-button-info"
                icon="fa fa-plus" iconPos="left" (click)="newRecord()">
        </button>
        <button pButton type="button" label="{{'global.index' | translate}}" class="p-button-help"
                icon="fa fa-table" iconPos="left" (click)="goToList()">
        </button>
        <app-other-dc-name [dcId]="sessionType.dcId"></app-other-dc-name>
      </div>
      <div class="flex-container-end">
        <app-field-revisions *ngIf="id" [entityClass]="'inm.core.domain.SessionType'" [entityId]="id"></app-field-revisions>
      </div>
    </div>
  </div>
  
  <div class="grid" appToitsuLockControls [lockCondition]="lockedRecord()">
    
    <div class="col-12 md:col-6 p-fluid">
      
      <p-panel header="{{'sessionType.view.data' | translate}}">
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'sessionType.doctorType' | translate}}</label>
          <div class="col-12 sm:col-8">
            <p-dropdown [(ngModel)]="sessionType.doctorType" name="kind" [options]="doctorTypes" optionValue="value" optionLabel="label"
                        [disabled]="!!id"
                        placeholder="{{'global.selectOption' | translate}}" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4 font-bold">{{'sessionType.description' | translate}}</label>
          <div class="col-12 sm:col-8">
            <input type="text" pInputText [(ngModel)]="sessionType.description" name="description">
          </div>
        </div>
        
        <div class="grid align-items-center">
          <label class="col-12 sm:col-4">{{'sessionType.comments' | translate}}</label>
          <div class="col-12 sm:col-8">
            <textarea pInputTextarea [(ngModel)]="sessionType.comments" name="comments" rows="8"></textarea>
          </div>
        </div>
      
      </p-panel>
    
    </div>
  
  </div>

</form>
