<div class="grid">
  <div class="col-12 button-container">
    <button pButton type="submit" label="{{'global.search' | translate}}" class="p-button-warning"
            icon="fa fa-search" iconPos="left" (click)="loadTableData()">
    </button>
    <button pButton type="button" label="{{'global.clearArgs' | translate}}" class="p-button-help"
            icon="fa fa-times" iconPos="left" (click)="clearArgs()">
    </button>
    <button pButton type="button" label="{{'global.newRecord' | translate}}" class="p-button-info"
            icon="fa fa-plus" iconPos="left" (click)="newRecord()">
    </button>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-3">
    
    <p-panel header="{{'global.args' | translate}}">
      
      <div  class="p-fluid">
        
          <div class="grid align-items-center">
          <div class="col-12">
            <app-record-dc-origin [(dcId)]="args.dcId"></app-record-dc-origin>
          </div>
        </div>
          
          <div class="grid align-items-center">
            <div class="col-12">
              <label>{{'visitApplication.inmateId' | translate}}</label>
              <app-select-inmate [(model)]="args.inmateId"
                                 [inmates]="inmates" [dialogUrl]="inmateDialogUrl"></app-select-inmate>
            </div>
          </div>
          
          <div class="grid align-items-center">
            <div class="col-12">
              <label>{{'visitApplication.args.inmateCode' | translate}}</label>
              <input type="text" pInputText [(ngModel)]="args.inmateCode">
            </div>
          </div>
  
          <div class="grid align-items-center">
          <div class="col-12  no-padding-bottom">
            <label>{{'visitApplication.applicationDate' | translate}}</label>
            <div class="grid field-group">
              <app-toitsu-calendar class="col-6" [(model)]="args.applicationDateAfter" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
              <span><i class="fa fa-arrow-right no-padding no-margin"></i></span>
              <app-toitsu-calendar class="col-6" [(model)]="args.applicationDateBefore" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
            </div>
          </div>
        </div>
  
          <div class="grid align-items-center">
          <div class="col-12  no-padding-bottom">
            <label>{{'visitApplication.approvalDate' | translate}}</label>
            <div class="grid field-group">
              <app-toitsu-calendar class="col-6" [(model)]="args.approvalDateAfter" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
              <span><i class="fa fa-arrow-right no-padding no-margin"></i></span>
              <app-toitsu-calendar class="col-6" [(model)]="args.approvalDateBefore" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
            </div>
          </div>
        </div>
  
          <div class="grid align-items-center">
          <div class="col-12  no-padding-bottom">
            <label>{{'visitApplication.visitDate' | translate}}</label>
            <div class="grid field-group">
              <app-toitsu-calendar class="col-6" [(model)]="args.visitDateAfter" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
              <span><i class="fa fa-arrow-right no-padding no-margin"></i></span>
              <app-toitsu-calendar class="col-6" [(model)]="args.visitDateBefore" [noIcon]="true" [showTime]=true></app-toitsu-calendar>
            </div>
          </div>
        </div>
        
          <div class="grid align-items-center">
            <div class="col-12">
              <label>{{'visitApplication.approved' | translate}}</label>
              <p-dropdown [options]="visitApplicationStatuses" [(ngModel)]="args.approved" 
                          optionValue="value" optionLabel="label" 
                          placeholder="{{'global.all' | translate}}" [showClear]="true"
                          emptyMessage="{{'global.noResultsFound' | translate}}" emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                          name="approved"
                          >
              </p-dropdown>
            </div>
          </div>
  
          <div class="grid align-items-center">
          <div class="col-12">
            <label>{{'visitApplication.args.onVisit' | translate}}</label>
            <p-dropdown [options]="yesNoEnums" [(ngModel)]="args.onVisit" 
                        optionLabel="label" optionValue="value"
                        placeholder="{{'global.all' | translate}}" [showClear]="true"
                        emptyMessage="{{'global.noResultsFound' | translate}}"  emptyFilterMessage="{{'global.noResultsFound' | translate}}"
                         name="onVisit">
            </p-dropdown>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-9">
    <app-toitsu-table #table
                      [url]="url"
                      [cols]="cols"
                      [first]="paging.first"
                      [rows]="paging.rows"
                      [sortField]="paging.sortField"
                      [sortOrder]="paging.sortOrder"
                      [args]="args"
                      [viewLink]="viewLink"
                      [excel]="true"
                      [exportModel]="exportModel"
                      [loadOnInit]="false"
                      (loadComplete)="loadComplete()">
    </app-toitsu-table>
  </div>
  
</div>
